<div class='col-md-12 panel_<%=widget.class.name.underscore%>'>
  <%= render :partial =>  'panels/common_widget' if action_name == 'dashboard' %>
  <div class='box box-widget'>
    <h1><%= t(:askbot_title)%> </h1>
    <h2><%= t(:askbot_subtitle)%> </h2>
    <% widget.questions.map do |question| %>
      <div class='box-header with-border'>
        <div class="user-block">
          <img class="img-circle" src="<%= widget.user(question['author']['id'])['avatar'].gsub('http://oraculo.serpro','') %>" alt="User Image">
          <span class="username"><a href="#"><%= question['author']['username'] %></a></span>
        </div>
      </div>

      <div class="box-body">
        <%= question['summary'].html_safe %>
      </div>   
    <% end %>
    
  </div>
</div>
