<script type='text/javascript'>
  clearInterval(myTimer);
  var myTimer = setInterval(function(){ 
  $.ajax({
    url: "<%= dashboard_panel_path(@panel, :format => :js) %>",
    data: { page: "<%= params[:page] %>" }
  })}, <%= @widget.speed%>);
</script>

