<%= form_for(@panel, html: {class: 'form-horizontal'}) do |f| %>
  <div class="box-body">
    <% if @panel.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@panel.errors.count, "error") %> prohibited this panel from being saved:</h2>

        <ul>
        <% @panel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label t(:name), class: 'col-sm-2 control-label' %>
      <div class='col-sm-10'>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t(:select_visibility), class: 'col-sm-2 control-label' %>
      <div class='col-sm-10'>
        <%= f.select(:visibility, Panel::Visibility.all(current_user).collect {|v| [ visibility_name(v), v ] }, { include_blank: true, selected: Panel::Visibility::PUBLIC_TO_EDIT},{:class => 'form-control' }) %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <%= f.label(:active, f.check_box(:active) + t(:active)) %>
        </div>
      </div>
    </div>

  </div>
  <div class="box-footer">
    <%= link_to t(:cancel), panels_path, :class=>"btn btn-default" %>
    <%= f.submit (action_name == 'edit' ? t(:update_panel) : t(:new_panel)), :class => 'btn btn-primary' %>
  </div>

<% end %>
