<% @filter ||= {} %>
<div class='<%=widget.class.name.underscore%>'>
  <h1><%= t(:gitlab_title)%> </h1>
  <h2><%= t(:gitlab_subtitle)%> </h2>
  <ul>
    <h3><%= t(:gitlab_projects)%></h3>
    <% widget.activated_projects.map do |project| %>
      <li><%= project[:id].to_s + ': ' + project[:host] + '/' + project[:path_with_namespace] %></li>
    <% end %>
  </ul>
  <ul>
    <h3><%= t(:gitlab_filters)%></h3>
    <h4><%= t(:labels)%></h4>
    <% widget.labels.map do |label| %>
      <% if @filter.present? && @filter[:labels].include?(label)%>
        <li><%= link_to label, panel_widget_path(@panel, widget, :labels => (@filter[:labels] - [label]).join(',')), :class => 'selected' %></li>
      <% else %>
        <li><%= link_to label, panel_widget_path(@panel, widget, :labels => ((@filter[:labels] || []) + [label]).join(',')) %></li>
      <% end %>
    <% end %>
  </ul>
  <ul>
    <h3>
      <%= t(:gitlab_issues)%>
      <%= link_to t(:gitlab_reload_issues), reload_data_panel_widget_path(@panel, widget) %>
    </h3>
    <% widget.issues_by_filter(@filter).map do |issue| %>
      <li><%= gitlab_issue_url(widget, issue) %></li>
    <% end %>
  </ul>
</div>
