<div class='build-monitor dashboard industrial <%=widget.class.name.underscore%>'>
  <%= render :partial =>  'panels/common_widget' if action_name == 'dashboard' %>
  <main class="main">
    <h1><%= t(:jenkins_title)%> </h1>
    <h2><%= t(:jenkins_subtitle, widget_uri: widget.class.base_uri)%> </h2>
  
    <ul id="widgets" class="columns-3" style="">
      <% widget.jobs.map do |job| %>
        <li class="<%= JenkinsWidget.job_status(job['color']) %> basic project widget">
          <div class="progress" style="width: 30%; display: none;"><span >30%</span></div>
          <header>
            <h2><a title="<%= job['name'] %>" href="<%= job['url'] %>" ><%= job['name'] %></a></h2>
            <ul class="details" style="<%= (job['color'] == 'blue') ? 'display: none;' : ''   %>">
              <li><%= job['lastHealthReport']['description']  %></li>
            </ul>
          </header>
          <div class="slots">
            <div class="build-number slot slot-1" name="1">
              <a class="build-name ng-scope" title="Details of DE5CT » NoosferoFrontend-IC, build #20" href="<%= job['lastBuild']['url'] %>" > <span ><%= job['lastBuild']['number']%></span></a>
            </div>
            <div class="build-time slot slot-2" name="2">
              <div >
                <div class="build-time">
                  <span class="estimated ng-binding" title="Last execution"><%= time_ago_in_words(job['lastCompletedBuild']['datetime']) %></span>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  
  </main>

</div>
