
<li id="panel-<%= panel.id %>" class='panel'>
  <span><%= link_to panel.name, panel %></span>
  <%= t(:options_for_panel) %>
  <span><%= link_to t(:dashboard), dashboard_panel_path(panel) %></span>
  <span><%= link_to 'Widgets', panel_widgets_path(panel) %></span>
  <span><%= link_to t(:edit), edit_panel_path(panel) %></span>
  <span><%= link_to t(:remove), panel, method: :delete, data: { confirm: t(:are_you_sure) } %></span>
</li>
