<div class='panel_<%=widget.class.name.underscore%>'>
  <%= render :partial =>  'panels/common_widget' if action_name == 'dashboard' %>
  <h1><%= t(:sonar_smile_title)%> </h1>
  <h2><%= t(:sonar_smile_subtitle)%> </h2>

<% widget.systems_coverage.map do |system, coverage| %>
<!--  <%= coverage%> -->
  <div class="face">
    <div class="container">
      <div class="<%= SonarSmileWidget.feeling(coverage) %>">
        <%= SonarSmileWidget.face(coverage)%>
      </div>
    </div><!-- .container -->
    <div class='name'>
      <a><%= truncate(widget.pretty_name(system), :length => 20)%></a> 
    </div>
  </div><!-- .container -->
<% end %>
<br style='clear: both;'/>
</div>
