<div class='<%=widget.class.name.underscore%>'>
  <%= render :partial =>  'panels/common_widget' if action_name == 'dashboard' %>
  <h1><%= t(:sonar_title)%> </h1>
  <h2><%= t(:sonar_subtitle, widget_uri: widget.class.base_uri)%> </h2>
  <% widget.systems_coverage.map do |system, coverage| %>
    <div class='system-info'>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%= coverage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=coverage%>%;">
          <div class='name'> <%= widget.pretty_name(system) %> </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
