<div class='<%=widget.class.name.underscore%>'>
<h1><%= t(:table_title)%> </h1>
<h2><%= t(:table_subtitle)%> </h2>

<div class="CSSTableGenerator">
<% csv = []%>
<% csv << "DE501;15;1408:00;1311:29;874:29;533:31;37,89%"%>
<% csv << "DE502;12;1112:00;1098:02;878:29;233:31;21,00%"%>
<% csv << "DE501;15;1408:00;1311:29;874:29;533:31;37,89%"%>
<% csv << "DE502;12;1112:00;1098:02;878:29;233:31;21,00%"%>
<% csv << "DE501;15;1408:00;1311:29;874:29;533:31;37,89%"%>
<% csv << "DE502;12;1112:00;1098:02;878:29;233:31;21,00%"%>
<center>
<table>
  <thead>
  <tr>
    <th>Setor</th>
    <th>Qtd. Func</th>
    <th>Potencial Funcionário</th>
    <th>Total Trabalhado</th>
    <th>Total Apropriado</th>
    <th>Ociosidade</th>
    <th>% Ociosidade</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th>Setor</th>
    <th>Qtd. Func</th>
    <th>Potencial Funcionário</th>
    <th>Total Trabalhado</th>
    <th>Total Apropriado</th>
    <th>Ociosidade</th>
    <th>% Ociosidade</th>
  </tr>
  </tfoot>

<tbody>
<% for line in csv %>
  <tr>
    <% line.split(';').map do |value|%>
      <td><%=h value %></td>
    <%end%>
  </tr>
<% end %>
</tbody>
</table>
</div>
</center>

</div>
