<div class="table-green">

<table id="ledgers_<%=params[:tab]%>">
  <thead>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Data</th>
    <th>Valor</th>
    <th>Descrição</th>
    <th>Tag list</th>
    <th>Detalhamento</th>
    <th>Tipo de Lançamento</th>
  </tr>
  </thead>

  <tfoot>
  <tr>
    <th></th>
    <th>ID</th>
    <th>Data</th>
    <th>Valor</th>
    <th>Descrição</th>
    <th>Tag list</th>
    <th>Detalhamento</th>
    <th>Tipo de Lançamento</th>
  </tr>
  </tfoot>

<tbody>
<% for ledger in @ledgers %>
  <%= render :partial => 'table_line', :locals => {:ledger => ledger} %>
<% end %>
</tbody>
</table>
</div>

<script type="text/javascript">

// Colorbox
$('.remote-form').colorbox();

/* Formatting function for row details - modify as you need */
function format ( d ) {
    // `d` is the original data object for the row
    return '<table cellpadding="6" cellspacing="0" border="0" style="padding-left:50px;">'+
        '<tr>'+
            '<td>Detalhamento:</td>'+
            '<td>'+d[6]+'</td>'+
        '</tr>'+
    '</table>';
}

  $(document).ready(function() {
    var table = $("#ledgers_<%=params[:tab]%>").DataTable({
        "order": [[ 2, "asc" ]],
//        "dom": '<"toolbar">lfrtip',
        "language": {
            "emptyTable":     "Nenhum dado disponível na tabela",
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Nenhum - sinto muito",
            "info": "Mostrar página _PAGE_ of _PAGES_",
            "infoEmpty": "Nenhum registro disponível",
            "infoFiltered": "(filtrar de _MAX_ total de registros)",
            "search": "Buscar:",
            "previous": "Anterior",
            "loadingRecords": "Carregando...",
	    "processing":     "Processando...",
            "next": "Próximo",
            "paginate": {
              "first":      "Primeiro",
              "last":       "Último",
              "next":       "Próximo",
              "previous":   "Anterior"
             },
             "aria": {
               "sortAscending":  ": ativar para ordenar colunas crescentemente",
               "sortDescending": ": ativar para ordenar colunas decrescentemente"
             }
        },
        "lengthMenu": [[-1,10, 25, 50], ['Todos',10, 25, 50]],
        "columnDefs": [
            { "visible": false, "targets": 6 },
            { "visible": false, "targets": 7 },
//            { "searchable": false, "targets": 4 }
        ],
        "search": {
          "regex": true
        },
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;
 
            api.column(7, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group"><td colspan="8">'+group+'</td></tr>'
                    );
 
                    last = group;
                }
            } );
          },
//       "ajax": "http://localhost:3000/static.json",
//      "columns": [
//            {
//                "class":          'details-control',
//                "orderable":      false,
//                "data":           null,
//                "defaultContent": ''
//            },
//            { "data": "date" },
//            { "data": "value" },
//            { "data": "description" },
//            { "data": "tag_list" },
//            { "data": "detail" }
//        ],
       "footerCallback": function ( row, data, start, end, display ) {
          var api = this.api();
          // Remove the formatting to get integer data for summation
          var intVal = function ( i ) {
              return typeof i === 'string' ?  i.replace(/[\$,]/g, '')*1 : typeof i === 'number' ? i : 0;
          };
          // Total over all pages
          var total = api
              .column( 3 )
              .data()
              .reduce( function (a, b) {
                  return intVal(a) + intVal(b);
              } );
 
          // Total over this page
          var pageTotal = api
              .column( 3, { page: 'current'} )
              .data()
              .reduce( function (a, b) {
                  return intVal(a) + intVal(b);
              } );
           // Update footer
          $( api.column( 3 ).footer() ).html(
              'R$ '+ pageTotal +' de R$ '+ total +''
          );
       },
//    "drawCallback": function ( settings ) {
//            var api = this.api();
//            var rows = api.rows( {page:'current'} ).nodes();
//            var last=null;
// 
//            api.column(3, {page:'current'} ).data().each( function ( group, i ) {
//                if ( last !== group ) {
//                    $(rows).eq( i ).before(
//                        '<tr class="group"><td colspan="5">'+group+'</td></tr>'
//                    );
// 
//                    last = group;
//                }
//            } );
//          }
//
    });


//    $("div.toolbar").html('<b>Lançamentos do Ikê.</b>');

  // Add event listener for opening and closing details
    $('#ledgers_<%=params[:tab]%> tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );
 
        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            // Open this row
            row.child( format(row.data()) ).show();
            tr.addClass('shown');
        }
    } );

  // Order by the grouping
    $('#ledgers_<%=params[:tab]%> tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === 7 && currentOrder[1] === 'asc' ) {
            table.order( [ 7, 'desc' ] ).draw();
        }
        else {
            table.order( [ 7, 'asc' ] ).draw();
        }
    } );

  } );
</script>

