<tr id='ledger_<%= ledger.id %>' class='<%= ledger.foreseen_value.nil? ? 'pending' : '' %>'>
  <td class='details-control'></td>
  <td><%= link_to ledger.id, {:action => 'edit', :id => ledger}, :class => 'remote-form cboxElement' %></td>
  <td><%=h ledger.date %></td>
  <td><%=h ledger.value %></td>
  <td><%=h ledger.full_description %></td>
  <td><%=h ledger.tag_list %></td>
  <td style='display: none;'><%=h ledger.detail %></td>
  <td style='display: none;'><%=h ledger.type_of_detail %></td>
</tr>
