<% breadcrumb :panel, @panel %>

<div class='carousel'>

  <% @widgets.map do |widget| %>
    <div class="item <%= widget == @widgets[0] ? 'active' : ''%>">
    <%= widget.name %>
    </div>
  <% end %>
</div>


