<div class="field">
  <%= label_tag 'widget[system]', t(:system) %>
  <%= text_field_tag 'widget[system]', @widget.system, size: 60 %>
</div>
<div class="field">
  <%= label_tag 'widget[identifier]', t(:identifier) %>
  <%= text_field_tag 'widget[identifier]', @widget.identifier, size: 60 %>
</div>
<div class="field">
  <%= label_tag 'widget[who]', t(:who) %>
  <%= text_field_tag 'widget[who]', @widget.who, size: 60 %>
</div>
