<div class="box-body">
<% if @widget.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>

    <ul>
    <% @widget.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= label_tag 'widget[name]', t(:name), :class => 'col-sm-2 control-label' %>
  <div class='col-sm-10'>
    <%= text_field_tag 'widget[name]', @widget.name %>
  </div>
</div>

<span id='partial_for_widget'>
<%= render :partial => partial_for_widget(@widget) + '_form' %>
</span>

  <div class="form-group">
    <%= label_tag 'widget[speed]', t(:speed),  class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
    <%= text_field_tag 'widget[speed]', @widget.speed %>
    </div>
  </div>

<% if @widget.new_record? %>
  <div class="form-group">
    <%= label_tag 'type', t(:type),  class: 'col-sm-2 control-label' %>
    <div class='col-sm-10'>
      <%= select_tag 'type', options_for_select(Widget.widget_types.map{|a| [a.model_name.human, a.to_s]}, @widget.type), {:id => 'widget_type', :class => 'form-control' } %>
    </div>
  </div>
<% end %>
</div>
<div class="box-footer">
  <%= link_to t(:cancel), panel_widgets_path(@panel), :class=>"btn btn-default" %>
  <%= f.submit (action_name == 'edit' ? t(:update_widget) : t(:new_widget)), :class => 'btn btn-primary' %>
</div>
