<div class="field">
  <%= label_tag 'widget[uri]', t(:uri) %>
  <%=  GitlabWidget.base_uri %>
</div>

<div class="field">
<% @widget.projects.map do |project| %>
    <%= check_box 'widget', 'activated_projects', {:checked => project[:active], :multiple => true}, project[:id]%>
    <%= label_tag 'widget[activated_projects]', project[:path_with_namespace] %>
<% end %>
</div>
 
