<div class="form-group">
  <%= label_tag 'widget[uri]', t(:uri), class: 'col-sm-2 control-label' %>
  <div class='col-sm-10' >
    <%=  @widget.class.base_uri %>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'widget[job_path]', t(:jenkins_job_path), :class => 'col-sm-2 control-label' %>
  <div class='col-sm-10' >
    <%= text_field_tag 'widget[job_path]', @widget.job_path %>
  </div>
</div>
<div class="form-group">
  <%= label_tag 'widget[include_systems_re]', t(:jenkins_include_systems_re), :class => 'col-sm-2 control-label' %>
  <div class='col-sm-10' >
    <%= text_field_tag 'widget[include_systems_re]', @widget.include_systems_re %>
  </div>
</div>
