<div class="form-group">
  <%= label_tag 'widget[url]', t(:url),  class: 'col-sm-2 control-label' %>
  <div class='col-sm-10'>
    <%= text_field_tag 'widget[url]', @widget.url, size: 60 %>
  </div>
</div>
