<li id="widget-<%= widget.id %>">
  <span><%= link_to widget_fullname(widget), panel_widget_path(panel, widget) %></td>
  <span><%= link_to t(:dashboard), dashboard_panel_widget_path(panel, widget) %></td>
  <span><%= link_to switch_activave_label(widget.active), switch_activation_panel_widget_path(panel,widget) %></span>
  <span><%= link_to t(:edit), edit_panel_widget_path(panel,widget) %></span>
  <span><%= link_to t(:remove), panel_widget_path(panel, widget), method: :delete, data: { confirm: t(:are_you_sure) } %></span>
</li>
