<% breadcrumb :edit_widget, @panel, @widget %>

<h1> <%= t(:edit_widget) %> </h1>

<div class="box box-primary <%= @widget.class.name.underscore %>">
<%= form_for([@panel, @widget], :url => panel_widget_path(@panel, @widget.id), :method => :put,  :html => {class: 'form-horizontal'}) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
</div>

