<% breadcrumb :new_widget, @panel %>

<h1> <%= t(:new_widget) %> </h1>


<div class="box box-primary <%= @widget.class.name.underscore %>">
  <%= form_for([@panel, @widget], :url => panel_widgets_path(@panel, @widget), :html => {class: 'form-horizontal'}) do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>
