.build-monitor
  color: #fff
  text-align: center
  h1
    text-shadow: 2px 2px rgba(0,0,0,0.5)
  h2
    text-shadow: 1px 1px rgba(0,0,0,0.5)
    margin: 0px
  p
    margin: 0 0 0.5em 0
  a
    text-decoration: none
  a:hover
    text-decoration: underline
  #widgets 
    li 
      a
        color: white
      a:visited
        color: white
  header 
    h1 
      margin: 10px auto 0 auto
      display: block
  .unknown
    background-color: #474747
  .successful 
    background-color: darkgreen
  .unstable   
    background-color: #f59400
  .failing
    background-color: darkred
  .blue
    background-color: darkred
  .disabled
    background-color: gray
.dashboard
  background: image-url('background.png')
