.sonar_widget 
  h1
    text-align: center
  h2
    text-align: center
    font-size: 1.1vw
  .system-info 
    margin-bottom: 15px
    padding-bottom: 5px
    .progress
      margin-bottom: 0px
      margin-left: 15px
      height: 2.1vw
      .progress-bar
        font-size: 2.1vw
        .name
          text-align: left
          color: black
          min-width: 490px

