.panel_sonar_smile_widget 
  height: 100vh
  h1
    text-align: center
  h2
    text-align: center
    font-size: 1.1vw
    margin-bottom: 50px
  .smile-faces 
    float: left
    text-align: center
    .smile-face
      float: left
      margin: 20px

  .face
    .name
      white-space: nowrap
      width: 100px
      overflow: hidden
      text-overflow: ellipsis
      text-align: left
    position: relative
    float: left
    width: 70px
    margin: 35px
    .container
      position: relative
      width: 70px
      float: left
      margin: 0 5px 10px
      cursor: pointer
      div
        position: absolute
        top: -50px
        left: 0
        right: 0
        height: 60px
        line-height: 42px
        text-align: center
        width: 64px
        border: 3px solid #ccc
        color: #ccc
        padding: 0 0 8px
        border-radius: 50%
        font-size: 27px
        font-family: "comic sans ms"
        font-weight: bold
        &:hover
          border-color: #5ba753
          color: #5ba753
          animation: jump 0.5s infinite alternate
          -o-animation: jump 0.5s infinite alternate
          -ms-animation: jump 0.5s infinite alternate
          -moz-animation: jump 0.5s infinite alternate
          -webkit-animation: jump 0.5s infinite alternate

        animation: shake 1s ease-in-out infinite alternate
        transition: color .25s linear
        transition: border-color .25s linear
        transform: rotate(90deg)
  
        -o-transition: color .25s linear
        -o-transition: border-color .25s linear
        -o-transform: rotate(90deg)
        -o-animation: shake 1s ease-in-out infinite alternate
      	
        -ms-transition: color .25s linear
        -ms-transition: border-color .25s linear
        -ms-transform: rotate(90deg)
        -ms-animation: shake 1s ease-in-out infinite alternate
      	
        -moz-transition: color .25s linear
        -moz-transition: border-color .25s linear
        -moz-transform: rotate(90deg)
        -moz-animation: shake 1s ease-in-out infinite alternate
      	
        -webkit-transition: color .25s linear
        -webkit-transition: border-color .25s linear
        -webkit-transform: rotate(90deg)
        -webkit-animation: shake 1s ease-in-out infinite alternate
      .happy
        animation-delay: 0s
        -o-animation-delay: 0s
        -ms-animation-delay: 0s
        -moz-animation-delay: 0s
        -webkit-animation-delay: 0s
        animation: jump 0.5s infinite alternate
        -o-animation: jump 0.5s infinite alternate
        -ms-animation: jump 0.5s infinite alternate
        -moz-animation: jump 0.5s infinite alternate
        -webkit-animation: jump 0.5s infinite alternate
      .very_happy
        animation-delay: 0.5s
        -o-animation-delay: 0.5s
        -ms-animation-delay: 0.5s
        -moz-animation-delay: 0.5s
        -webkit-animation-delay: 0.5s
        animation: jump 0.3s infinite alternate
        -o-animation: jump 0.3s infinite alternate
        -ms-animation: jump 0.3s infinite alternate
        -moz-animation: jump 0.3s infinite alternate
        -webkit-animation: jump 0.3s infinite alternate

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(jump)
  0%
    top: -40px
    -moz-transform: scale(1,0.7) rotate(90deg)
  30%
    -moz-transform: scale(1,1) rotate(90deg)
  100%
    top: -70px

+keyframes(shake)
  0% 
    padding: 8px 0 0
  100% 
    padding: 0 0 8px
    line-height: 14px
