<!-- Main Header -->
<header class="main-header">

  <!-- Logo -->
  <a href="/" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>D</b>B</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Dash</b>Board</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <!-- User Account Menu -->
        <% if user_signed_in? %>
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#user-detail">
            <!-- The user image in the navbar-->
            <img src="<%= current_user.avatar.url(:thumb) %>" class="user-image" alt="User Image"/>
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs"><%= current_user.login %></span>
          </a>
          <ul class="dropdown-menu collapse" id='user-detail'>
            <!-- The user image in the menu -->
            <li class="user-header">
              <img src="<%= current_user.avatar.url(:medium) %>" class="img-circle" alt="User Image" />
              <p>
                <%= current_user.login %>
                <small><%= t(:member_since, time: time_ago_in_words(current_user.created_at)) %></small>
              </p>
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
<!--
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-flat">Profile</a>
              </div>
-->
              <div class="pull-right">
                <%= link_to t(:sign_out), destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
        <% else %>
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <%= link_to t(:sign_in), new_user_session_path, class: 'btn btn-default' %>
        </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
