<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <% if user_signed_in? %>
    <div class="user-panel">
      <div class="pull-left image">
        <img src="<%= current_user.avatar.url(:medium) %>" class="img-circle" alt="User Image" />
      </div>
      <div class="pull-left info">
        <p><%= current_user.login %></p>
      </div>
    </div>
    <% end %>

    <!-- search form (Optional) -->
    <!--
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search..."/>
        <span class="input-group-btn">
          <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </form>
    -->
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header"><%= t(:menu) %></li>
        <!-- Optionally, you can add icons to the links -->
      <li class="active"><%= link_to "<i class='fa fa-link'></i><span>#{t(:public_panels)}</span>".html_safe, panels_path %></li>
      <% if user_signed_in? %>
      <li class="treeview">
        <%= link_to "<i class='fa fa-dashboard'></i><span>#{t(:my_panels)}</span><i class='fa fa-angle-left pull-right'></i>".html_safe, my_panels_path %>
        <ul class="treeview-menu">
          <% current_user.panels.map do |panel| %>
            <li>
              <%= link_to "<i class='fa fa-circle-o'></i> #{panel.name}".html_safe, panel_path(panel) %>
            </li>
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul><!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
